body{
    background-color:black;
    text-align: center;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
}
.heading{
    color:white;
    
    text-align: center;
    font-size: 50px;
}
.spec{
    color: white;
    font-weight: 300;
    font-size: 42px;
}
a{
    font-size:16px;
    color:aquamarine; 
}
video{
    justify-content: center;
    align-content: center;
}
img{
   
}
p{
    color:gray;
    font-size: 21px;
}
.td{
    float:right;
}